<ion-app>

  <ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-icon name="storefront-outline" [routerLink]="['/']"></ion-icon>
        <ion-title>Masters</ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content (ionScroll)="logScrolling($event)" (ionScrollStart)="logScrollStart()" [scrollEvents]="true">

    <ion-item #topMenu>
      <ion-label slot="start">Filter</ion-label>
      <ion-button (click)="filterStatus = true" color="medium" fill="outline" slot="end">Open</ion-button>
    </ion-item>

    <ion-card *ngFor="let master of vm.Masters">
      <ion-card-title class="card_title">{{master.name}}
        <ion-icon class="favorite_icon" name="heart" style="cursor: pointer;"></ion-icon>
      </ion-card-title>
      <div class="card_main_info">
        <ion-avatar>
          <ion-img [src]="master.avatarUrl? master.avatarUrl : 'https://skillmarket.ru/images/userpic/1/default_avatar_iasu-2u.png'" class="avatar_image"></ion-img>
        </ion-avatar>
        <ion-item class="card_text">
          <ion-card-content>{{master.speciality}}
          </ion-card-content>
          <ion-button [routerLink]="['../master', master.id]" color="medium" fill="outline" slot="end">View</ion-button>
        </ion-item>
        <ion-item>
          <ion-icon *ngFor="let star of master.starRating" [icon]="star"></ion-icon>
        </ion-item>
      </div>
      <div class="card_description">
        {{master.about}}
      </div>
      <ion-item class="links_item">
        Links:
        <ion-icon class="link" icon="logo-vk" (click)="redirect(master.vkProfile)"></ion-icon>
        <ion-icon class="link" icon="logo-skype" (click)="redirect(master.skype)"></ion-icon>
        <ion-icon class="link" icon="logo-instagram" (click)="redirect(master.instagramProfile)"></ion-icon>
      </ion-item>
      <ion-item class="links_item">
        Phone/Viber: +{{master.phone}}
      </ion-item>
    </ion-card>

  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-item>
        <ion-title>
          BC
        </ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
  <!--  -->
  <!--  -->
  <!--  -->
  <ion-content #filter [ngClass]="{
    'hidden-filter': filterStatus === false,
    'visible-filter': filterStatus === true
  }" color="medium">
    <ion-item>
      <ion-label>
        CityId: <ion-input #cityId [value]="vm.filtre?.cityId"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        ServiceTypes: <ion-input #serviceTypes [value]="vm.filtre?.serviceTypeIds"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        StartHour: <ion-input #startHour [value]="vm.filtre?.startHour"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        EndHour: <ion-input #endHour [value]="vm.filtre?.endHour"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Skip: <ion-input #skip [value]="vm.filtre?.skip"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Take: <ion-input #take [value]="vm.filtre?.take"></ion-input>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-button slot="start" (click)="regetMasters(); filterStatus = false;" color="medium">Send</ion-button>
      <ion-button slot="end" (click)="filterStatus = false" color="medium">Exit</ion-button>
    </ion-item>
  </ion-content>

  <ion-content (click)="filterStatus = false" [ngClass]="{
    'hidden-filter': filterStatus === false,
    'visible-filter': filterStatus === true
  }" class="filter-background">
    <!--    -->
    <!--    -->
    <!--    -->
  </ion-content>
</ion-app>
