<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a href="https://ionicframework.com/docs/components" rel="noopener noreferrer" target="_blank">UI
      Components</a></p>
    <a [routerLink]="['../masters']" routerLinkActive="active">Masters</a>
    <br/>
    <a [routerLink]="['../authentication']" routerLinkActive="active">Authentication</a>
    <br/>
    <a (click)="logOut()">Log Out</a>
  </div>
</ion-content>
