<ion-app>

    <ion-header>
        <ion-toolbar>
            <ion-item>
                <ion-icon name="storefront-outline" [routerLink]="['/']"></ion-icon>
                <ion-title> {{vm.Master?.name}} </ion-title>
                <ion-button color="medium" [routerLink]="['../../masters']">Masters</ion-button>
            </ion-item>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div class="content_cover">
            <div class="content">
                <div style="width:150px; height:150px;">
                    <ion-img [src]="vm.Master?.avatarUrl ? vm.Master.avatarUrl : 'https://skillmarket.ru/images/userpic/1/default_avatar_iasu-2u.png'">
                    </ion-img>
                </div>
                <div>
                    <ion-item>
                        <ion-label>
                            Name: {{vm.Master?.name}}
                        </ion-label>
                        <ion-icon slot="end" *ngFor="let star of vm.Master?.starRating" [icon]="star"></ion-icon>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            Spec: {{vm.Master?.speciality}}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        Links:
                        <ion-icon class="link" icon="logo-vk" (click)="redirect(vm.Master?.vkProfile)"></ion-icon>
                        <ion-icon class="link" icon="logo-skype" (click)="redirect(vm.Master?.skype)"></ion-icon>
                        <ion-icon class="link" icon="logo-instagram" (click)="redirect(vm.Master?.instagramProfile)"></ion-icon>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            Phone/Viber: +{{vm.Master?.phone}}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            Address: {{vm.Master?.address}}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            About: {{vm.Master?.about}}
                        </ion-label>
                    </ion-item>
                </div>
                <ion-item #range disabled="true">
                    <ion-range slot="start" color="medium" dualKnobs="true" [min]="rangeMin" [max]="rangeMax" step="1" snaps="true"></ion-range>
                    <ion-button color="medium" (click)="changeItemState($event)" slot="end">Confirm</ion-button>
                </ion-item>
                <!-- (click)="changeItemState(item)"  -->
                <ion-title class="calendar_title">Calendar</ion-title>
                <div class="grid">
                    <ion-grid>
                        <ion-row *ngFor="let day of this.vm.Schedule?.days">
                            <ion-col size="2.5" title="{{day.date}}">
                                {{day.date | date}}
                            </ion-col>
                            <ion-col size="0.2" (click)="enableRange(item)" class="grid_col" *ngFor="let item of day?.items" [class.grid_col_window]="item.itemType == 'Window'" [class.grid_col_booking_client]="item.itemType == 'Booking' && this.vm.ClientId == item.clientId" [class.grid_col_booking]="item.itemType == 'Booking' && this.vm.ClientId != item.clientId"
                                [class.grid_col_pause]="item.itemType == 'Pause'" title="{{item.startTime | date}} {{item.startTime | date:'h:mm a'}} - {{item.endTime | date:'h:mm a'}} {{item.itemType}}">
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
    </ion-content>

    <ion-footer>
        <ion-toolbar>
            <ion-item>
                <ion-title> BC </ion-title>
            </ion-item>
        </ion-toolbar>
    </ion-footer>

</ion-app>