<ion-app>

  <ion-header>
    <ion-toolbar color="warning">
      <ion-item color="primary">
        <ion-button class="menu-icon" slot="start" color="warning" (click)="openFirst()">Menu</ion-button>
        <ion-title>
          Masters
          <lib-bc-common></lib-bc-common>
        </ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content #filter color="secondary" [ngClass]="{
    'hidden-filter': filterStatus === false, 
    'visible-filter': filterStatus === true
  }"></ion-content>

  <ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)">

    <ion-item color="primary" #topMenu>
      <ion-label slot="start">Need cut some hairs, sweet?</ion-label>
      <ion-button (click)="filterStatus = !filterStatus" color="warning" slot="end">Yes!!</ion-button>
    </ion-item>

    <ion-card *ngFor="let master of vm.Masters">
      <ion-item color="primary">
        <ion-img [src]="master.Avatar"></ion-img>
        <div class="card-text">
          <ion-card-subtitle>
            {{master.Name}}
          </ion-card-subtitle>
          <ion-card-title>
            {{master.Spec}}
          </ion-card-title>
        </div>
        <ion-button color="danger" href="/master/{{master.Id}}">View</ion-button>
      </ion-item>
    </ion-card>

  </ion-content>

  <ion-footer>
    <ion-toolbar color="warning">
      <ion-item color="primary">
        <ion-title>
          Footer
        </ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-footer>

</ion-app>
