<ion-app>

  <ion-header>
    <ion-toolbar>
      <ion-item>
        <!--        <ion-button class="menu-icon" slot="start" (click)="openFirst()">Menu</ion-button>-->
        <ion-title>
          Мастера
          <!--          <lib-bc-common></lib-bc-common>-->
        </ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)">

    <ion-item #topMenu>
      <ion-label slot="start">Need cut some hairs, sweet?</ion-label>
      <ion-button fill="outline" color="medium" (click)="filterStatus = true" slot="end">Yes!!</ion-button>
    </ion-item>
    
    <ion-card *ngFor="let master of vm.Masters">
      <ion-card-title>{{master.Name}}</ion-card-title>
      <div class="card_content">
        <ion-avatar>
          <ion-img [src]="master.Avatar"></ion-img>
        </ion-avatar>
      <ion-item class="card_text">
        <ion-card-content>{{master.Spec}} Content root path: D:\Code\Timur\BC\beauty-circle\BC.API
        </ion-card-content>
        <ion-button fill="outline" color="medium" slot="end" href="/master/{{master.Id}}">View</ion-button>
      </ion-item>
      </div>
    </ion-card>

  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-item>
        <ion-title>
          BC
        </ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
  <!--  -->
  <!--  -->
  <!--  -->
  <ion-content #filter color="medium" [ngClass]="{
    'hidden-filter': filterStatus === false, 
    'visible-filter': filterStatus === true
  }">
    <ion-button color="danger" (click)="filterStatus = false">Exit</ion-button>
  </ion-content>

  <ion-content (click)="filterStatus = false" class="filter-background" [ngClass]="{
    'hidden-filter': filterStatus === false, 
    'visible-filter': filterStatus === true
  }">
    <!--    -->
    <!--    -->
    <!--    -->
  </ion-content>
</ion-app>
