<ion-app>

  <ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-title>
          Добро пожаловать!
        </ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="content">
      <div class="controls">
        <ion-button [queryParams]="{role: true}" [routerLink]="['../authentication']">Я Мастер!</ion-button>
        <ion-button [queryParams]="{role: false}" [routerLink]="['../authentication']">Я не Мастер!</ion-button>
      </div>
    </div>
  </ion-content>

</ion-app>
