<ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-item>
          <ion-title>
            Update Master's Info
          </ion-title>
        </ion-item>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-item><input type="text" value="Name" style="color: black;"/></ion-item>
      <ion-item><input type="text" value="Surname" style="color: black;"/></ion-item>
      <ion-item><input type="text" value="Age" style="color: black;"/></ion-item>
      <ion-item><input type="text" value="Something" style="color: black;"/></ion-item>
    </ion-content>
  
  </ion-app>
  