<ion-app>

  <ion-header>
    <ion-toolbar>
      <ion-item>
        <!--        <ion-button class="menu-icon" slot="start" color="warning" (click)="openFirst()">Menu</ion-button>-->
        <ion-title>
          Аутентификация (клиент)
        </ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="navigation_form_background">
      <div class="navigation_form">

        <!--        <ion-item>-->
        <!--          <ion-button (click)="authByPhone()">Get code</ion-button>-->
        <!--          <ion-input type="number" #code></ion-input>-->
        <!--          <ion-button (click)="sendCode()">Reg</ion-button>-->
        <!--        </ion-item>-->

        <div class="form_text">
          Войдите
        </div>

        <div class="icon_line">
          <ion-icon
            (click)="authByPhone(); codePopupStatus = true;"
            class="form_icon"
            icon="call">
          </ion-icon>
          <ion-icon
            (click)="authByVk()"
            class="form_icon"
            icon="logo-vk">
          </ion-icon>
          <ion-icon
            (click)="authByInstagram()"
            class="form_icon"
            icon="logo-instagram">
          </ion-icon>
          <ion-icon
            (click)="authByGoogle()"
            class="form_icon"
            icon="logo-google">
          </ion-icon>
        </div>

        <div class="form_text">
          или
        </div>

        <div class="form_text">
          <a [routerLink]="['../']">Зарегестрируйтесь</a>
        </div>

      </div>
    </div>
  </ion-content>
  <!--    -->
  <!--    -->
  <!--    -->
  <ion-content #enter_code_popup [ngClass]="{
    'hidden-code_popup': codePopupStatus === false,
    'visible-code_popup': codePopupStatus === true
  }">
    <div class="code_popup__controls">
      <ion-input class="code_popup__controls__input" color="medium" type="text" value="Phone"></ion-input>
      <ion-input #code class="code_popup__controls__input" color="medium" type="text" value="Code"></ion-input>
      <ion-button (click)="codePopupStatus = false; sendCode()" class="code_popup__controls__button" color="medium" fill="outline">
        Exit
      </ion-button>
    </div>
  </ion-content>
  <!--(click)="codePopupStatus = false"-->
  <ion-content [ngClass]="{
    'hidden-code_popup': codePopupStatus === false,
    'visible-code_popup': codePopupStatus === true
  }" class="code_popup__background">
    <!--    -->
    <!--    -->
    <!--    -->
  </ion-content>
</ion-app>
