<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-title>
          Календарь
        </ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card *ngFor="let day of vm.schedule?.days">
<!--      <ion-item>{{day.id}}</ion-item>-->
<!--      <ion-item>{{day.scheduleId}}</ion-item>-->
      <ion-item>Time: {{day.startTime}} - {{day.endTime}}</ion-item>
      <ion-item>Items</ion-item>
      <ion-card *ngFor="let item of day?.items">
        <ion-item>Time: {{item.startTime.toLocaleString()}} - {{item.endTime.toLocaleString()}}</ion-item>
      </ion-card>
    </ion-card>
  </ion-content>

</ion-app>
