<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-title>
          Календарь
        </ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card *ngFor="let day of vm.schedule?.days">
      <ion-item>Day: {{day.date}}</ion-item>
      <ion-item>
        Items: {{day.items.length}}
        <ion-button [routerLink]="['../day', day.id]" color="medium" fill="outline" slot="end">View</ion-button>
      </ion-item>
    </ion-card>
  </ion-content>

</ion-app>
