<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-icon name="storefront-outline" [routerLink]="['/']"></ion-icon>
        <ion-title> Days </ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="vm.scheduleDay?.items.length > 0;else empty">
    <ion-card *ngFor="let item of vm.scheduleDay?.items">
      <ion-item>Item type: {{item.itemType}}</ion-item>
      <ion-item>Client: {{item.clientId}}</ion-item>
      <ion-item>Start-time: {{item.startTime}}</ion-item>
      <ion-item>End-time: {{item.endTime}}</ion-item>
    </ion-card>
  </ion-content>

  <ng-template #empty>
    <ion-content>
      <ion-title>
        Nothing to show
      </ion-title>
    </ion-content>
  </ng-template>

</ion-app>
